name: Build Dispatcher

on:
  # 手动触发分发
  workflow_dispatch:
    inputs:
      software:
        description: 'Which software to build?'
        required: true
        default: 'poplddecay'
      version:
        description: 'Which version?'
        required: true
        default: 'v3.43'

jobs:
  # 调用上面的 build-cross.yml
  trigger-build:
    # 引用当前仓库下的 build-cross.yml
    uses: ./.github/workflows/build-cross.yml
    with:
      software: ${{ github.event.inputs.software }}
      version: ${{ github.event.inputs.version }}
    # 这里的 secrets 传递（如果需要）
    secrets: inherit
