name: Build Dispatcher

on:
  workflow_dispatch:
    inputs:
      software:
        description: '软件名称'
        required: true
        default: 'poplddecay'
      version:
        description: '软件版本'
        required: true
        default: 'v3.43'
      platform:
        description: '目标平台 (选择 all 则全部编译)'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - linux-x64
          - linux-arm64
          - macos-x64
          - macos-arm64
          - windows-x64

jobs:
  trigger-build:
    uses: ./.github/workflows/build-cross.yml
    with:
      software: ${{ github.event.inputs.software }}
      version: ${{ github.event.inputs.version }}
      platform: ${{ github.event.inputs.platform }}
    secrets: inherit
